[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cachecontrol = "*"
google-api-python-client = "*"
"oauth2client" = "*"
pyforms-lite = "*"
tbapy = "*"

[dev-packages]
