CacheControl==0.12.0
google-api-python-client==1.6.2
httplib2==0.10.3
msgpack-python==0.4.8
numpy==1.12.0
oauth2client==4.0.0
pyasn1==0.2.3
pyasn1-modules==0.0.8
requests==2.13.0
requests-toolbelt==0.7.0
rsa==3.4.2
simplejson==3.10.0
six==1.10.0
uritemplate==3.0.0
web.py==0.38
