apiclient==1.0.3
CacheControl==0.12.3
certifi==2017.4.17
chardet==3.0.4
google-api-python-client==1.6.2
httplib2==0.10.3
idna==2.5
msgpack-python==0.4.8
oauth2client==4.1.2
pyasn1==0.2.3
pyasn1-modules==0.0.9
requests==2.18.1
requests-toolbelt==0.8.0
rsa==3.4.2
simplejson==3.11.1
six==1.10.0
uritemplate==3.0.0
urllib3==1.21.1
web.py==0.40.dev0
